#brand {
    max-height: 40px;
    width: auto;
}

#logo {
    max-height: 120px;
    width: auto;
}

#name {
    font-size: 3rem;
    font-family: Fugaz One, sans-serif;
}

#login {
    max-width: 500px;
}

#genres-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: auto;
    gap: 5px;
}

#payment {
    max-width: 500px;
}

#page {
    text-align: center;
    max-width: 30px;
}