#brand {
    max-height: 40px;
    width: auto;
}

#logo {
    max-height: 120px;
    width: auto;
}

#name {
    font-size: 3rem;
    font-family: Fugaz One, sans-serif;
}

#login {
    max-width: 400px;
}